name: Build Proxy

on:
  push:
    branches:
      - master
    paths:
      - '**.yml'
      - proxy/**
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VERSION: 0.1.0

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
        - linux-arm64
        - linux-x64
        - macos-arm64
        - macos-x64
        - win-arm64
        - win-x64

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install --assume-yes qemu-user-binfmt

    - uses: MOZGIII/install-ldid-action@master
      with:
        tag: v2.1.5-procursus7

    - name: Preparing...
      working-directory: proxy
      run: npm install --include=dev

    - name: Building...
      working-directory: proxy
      run: npm run-script pkg-${{ matrix.target }}

    - name: Prepare content... (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      working-directory: proxy
      run: |
        mkdir dist
        mv LICENSE dist
        mv README.md dist
        mv ../bin/ellsp dist

    - name: Prepare content... (Windows)
      if: contains(fromJSON('["win-arm64", "win-x64"]'), matrix.target)
      working-directory: proxy
      run: |
        mkdir dist
        mv LICENSE dist
        mv README.md dist
        mv ../bin/ellsp.exe dist

    - name: Setup environment (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      run: |
        echo "_EXT=tar.gz" >> $GITHUB_ENV

    - name: Setup environment (Windows)
      if: contains(fromJSON('["win-arm64", "win-x64"]'), matrix.target)
      run: |
        echo "_EXT=zip" >> $GITHUB_ENV

    - name: Change permissions (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      run: |
        chmod -R 777 ./bin/

    - name: Change permissions (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      working-directory: proxy
      run: |
        chmod -R 777 ./dist

    - name: Tar dist (Unix)
      if: contains(fromJSON('["linux-arm64", "linux-x64", "macos-arm64", "macos-x64"]'), matrix.target)
      working-directory: proxy
      run: |
        tar czf ${{ matrix.target }}.${{ env._EXT }} -C ./dist/ .
        cp ${{ matrix.target }}.${{ env._EXT }} ellsp_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}

    - name: Zipping dist (Windows)
      if: contains(fromJSON('["win-arm64", "win-x64"]'), matrix.target)
      working-directory: proxy/dist
      run: |
        zip -r ${{ matrix.target }}.${{ env._EXT }} .
        mv ${{ matrix.target }}.${{ env._EXT }} ../
        cd ..
        cp ${{ matrix.target }}.${{ env._EXT }} ellsp_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}

    - name: Upload for prerelease
      if: github.ref == 'refs/heads/master'
      uses: softprops/action-gh-release@v2.0.8
      with:
        tag_name: ${{ env.VERSION }}
        token: ${{ secrets.PAT }}
        prerelease: true
        files: proxy/ellsp_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}

    #### Upload an artifact for testing purposes

    - name: Upload for tests
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.target }}
        path: proxy/ellsp_${{ env.VERSION }}_${{ matrix.target }}.${{ env._EXT }}
